<div *ngIf="retrievedNeedHostEvents$ | async as retrievedNeedHostEvents">
  <div class="row" *ngIf="retrievedNeedHostEvents.data.length !== 0">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let event of retrievedNeedHostEvents.data">
      <nb-card>
        <nb-card-header>{{event.title}}</nb-card-header>
        <nb-card-body>
          <p>{{event.description}}</p>
          <div class="row">
            <div class="col">
              <button nbButton routerLink="/space-events/{{event.id}}" type="button">
                View Event
              </button>
            </div>
            <div class="col">
              <button nbButton status="success" type="button">
                Host Event As Member
              </button>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>{{event.event_start_date | date:'long'}}
          to {{event.event_end_date | date:'long'}}</nb-card-footer>
      </nb-card>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="retrievedNeedHostEvents.data.length === 0">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <nb-card>
        <nb-card-header>No Events That Needs Hosting</nb-card-header>
        <nb-card-body>
          <p>There are currently no events that needs a host. Please check back again next time, thank you!</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <app-list-pagination [dataList]="retrievedNeedHostEvents"></app-list-pagination>
</div>
