<div class="grid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <nb-flip-card [flipped]="(flipped$ | async) === true" [showToggleButton]="false">
        <nb-card-front>
          <nb-card status="primary">
            <nb-card-header>Login</nb-card-header>
            <nb-card-body>
              <app-login-form></app-login-form>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="toggleFlipCard()">Forgot Password?</button>
            </nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
          <nb-card status="info">
            <nb-card-header>Reset Password</nb-card-header>
            <nb-card-body>
              <app-reset-password-form
                [passwordResetId]="resetPasswordId"
                *ngIf="resetPasswordId$ | async as resetPasswordId else passwordResetRequest"></app-reset-password-form>
              <ng-template #passwordResetRequest>
                <app-password-reset-request-form></app-password-reset-request-form>
              </ng-template>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="toggleFlipCard()">Login Page</button>
            </nb-card-footer>
          </nb-card>
        </nb-card-back>
      </nb-flip-card>
    </div>
  </div>
</div>
