<div class="grid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <form [formGroup]="loginForm" (submit)="login()" *ngIf="(loginFormState$ | async) as loginFormState">
        <nb-card>
          <nb-card-body>
            <app-form-state-message [formState]="loginFormState"></app-form-state-message>
            <input nbInput fullWidth formControlName="email" type="email" placeholder="Email Address"/>
            <input nbInput fullWidth formControlName="password" type="password" placeholder="Password"/>
            <button nbButton fullWidth outline type="submit" [disabled]="loginForm.invalid || loginFormState.isLoading">
              Login
            </button>
          </nb-card-body>
        </nb-card>
      </form>
    </div>
  </div>
</div>
