<form [formGroup]="passwordResetRequestForm" (submit)="requestPasswordReset()"
      *ngIf="(passwordResetRequestFormState$ | async) as passwordResetRequestFormState">
  <app-form-state-message [formState]="passwordResetRequestFormState"></app-form-state-message>
  <input nbInput fullWidth formControlName="email" type="email" placeholder="Email Address"/>
  <button nbButton fullWidth outline type="submit"
          [disabled]="passwordResetRequestForm.invalid || passwordResetRequestFormState.isLoading">
    Request Password Reset
  </button>
</form>
