<form [formGroup]="passwordResetForm" (submit)="resetPassword()" *ngIf="(passwordResetFormState$ | async) as passwordResetFormState">
  <app-form-state-message [formState]="passwordResetFormState"></app-form-state-message>
  <input nbInput fullWidth formControlName="id" type="string" placeholder="Password Reset ID"/>
  <input nbInput fullWidth formControlName="email" type="email" placeholder="Email Address"/>
  <input nbInput fullWidth formControlName="new_password" type="password" placeholder="Password"/>
  <input nbInput fullWidth formControlName="confirm_new_password" type="password" placeholder="Confirm Password"/>
  <button nbButton fullWidth outline type="submit" [disabled]="passwordResetForm.invalid || passwordResetFormState.isLoading">
    Change Password
  </button>
</form>
