<div class="grid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <form [formGroup]="editSpaceEventForm" (submit)="editSpaceEvent()"
            *ngIf="(editSpaceEventForm$ | async) as editSpaceEventForm">
        <nb-card *ngIf="(editSpaceEventFormState$ | async) as editSpaceEventFormState">
          <nb-card-body>
            <app-form-state-message
              [formState]="editSpaceEventFormState"></app-form-state-message>
            <input nbInput fullWidth formControlName="title" type="text" placeholder="Title"/>
            <input nbInput fullWidth formControlName="description" type="text" placeholder="Description"/>
            <input nbInput fullWidth [nbDatepicker]="datetimepicker" formControlName="event_start_date"
                   placeholder="Event Start Date">
            <nb-date-timepicker #datetimepicker></nb-date-timepicker>
            <input nbInput fullWidth [nbDatepicker]="datetimepickerTwo" formControlName="event_end_date"
                   placeholder="Event End Date">
            <nb-date-timepicker #datetimepickerTwo></nb-date-timepicker>
            <button nbButton fullWidth outline type="submit"
                    [disabled]="editSpaceEventForm.invalid || editSpaceEventFormState.isLoading">
              Edit Space Event
            </button>
          </nb-card-body>
        </nb-card>
      </form>
    </div>
  </div>
</div>
