<form [formGroup]="editPasswordForm" (submit)="editPassword()"
      *ngIf="(editPasswordFormState$ | async) as editPasswordFormState">
  <app-form-state-message [formState]="editPasswordFormState"></app-form-state-message>
  <p>Changing your password will log you out of all your sessions.</p>
  <input nbInput fullWidth formControlName="old_password" type="password" placeholder="Old Password"/>
  <input nbInput fullWidth formControlName="new_password" type="password" placeholder="New Password"/>
  <input nbInput fullWidth formControlName="confirm_new_password" type="password" placeholder="Confirm New Password"/>
  <button nbButton fullWidth outline type="submit"
          [disabled]="editPasswordForm.invalid || editPasswordFormState.isLoading|| !passwordComparisonEquality()">
    Change Password
  </button>
</form>
