<div class="grid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <nb-card>
        <nb-card-body>
          <nb-tabset>
            <nb-tab tabTitle="Edit Profile">
              <app-edit-self-profile-form></app-edit-self-profile-form>
            </nb-tab>
            <nb-tab tabTitle="Change Password">
              <app-edit-self-password-form></app-edit-self-password-form>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
