<form [formGroup]="editSelfForm" (submit)="editProfile()"
      *ngIf="(editSelfFormState$ | async) as editSelfFormState">
  <app-form-state-message [formState]="editSelfFormState"></app-form-state-message>
  <input nbInput fullWidth formControlName="first_name" type="text" placeholder="First Name"/>
  <input nbInput fullWidth formControlName="last_name" type="text" placeholder="Last Name"/>
  <nb-checkbox status="primary" formControlName="is_public">Public Profile</nb-checkbox>
  <button nbButton fullWidth outline type="submit"
          [disabled]="editSelfForm.invalid || editSelfFormState.isLoading">
    Submit Confirmation
  </button>
</form>
