<div class="grid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <nb-flip-card [flipped]="(flipped$ | async) === true" [showToggleButton]="false">
        <nb-card-front>
          <nb-card status="primary">
            <nb-card-header>Registration</nb-card-header>
            <nb-card-body>
              <app-registration-form></app-registration-form>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="toggleFlipCard()">Email Confirmation</button>
            </nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
          <nb-card status="info">
            <nb-card-header>Confirmation</nb-card-header>
            <nb-card-body>
              <app-confirmation-form></app-confirmation-form>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="toggleFlipCard()">Registration Page</button>
            </nb-card-footer>
          </nb-card>
        </nb-card-back>
      </nb-flip-card>
    </div>
  </div>
</div>
